@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  margin: 0;
  padding: 0; 
  text-decoration: none;
  color: var(--c_letra);
  list-style: none;
}
:root{
  --c_fondo_body:#242732;
  --c_footer:#232832;
  --c_icono:#4C86E7;
  --c_bottom:#FF5474;
  --c_letra:#E0E4E9;
  --c_fondo_transp:#3e445b23;
  --c_line:#dddddd2b;
  --t-normal: #95afc0;
  --t-fire: #f0932b;
  --t-water: #108ae7;
  --t-electric: #fed330;
  --t-grass: #00b894;
  --t-ice: #74b9ff;
  --t-fighting: #30336b;
  --t-poison: #6c5ce7;
  --t-ground: #efb549;
  --t-flying: #81ecec;
  --t-psychic: #a29bfe;
  --t-bug: #26de81;
  --t-rock: #b6ccd1b4;
  --t-ghost: #a55eea;
  --t-dragon: #ffeaa7;
  --t-dark: #B67F6C;
  --t-fairy: #FF0069;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;

  overflow: auto;

}


.container_principal{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: var(--c_fondo_body);
  overflow: hidden;
  position: relative;
}

.container_principal::before{
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: url('Img/Icons/Ellipse2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -210px;
  left: -100px;
  z-index: 1;
}

.container_principal::after{
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: url('Img/Icons/Ellipse3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -180px;
  right: -30px;
  z-index: 2;
  transform: rotate(-270deg);
}



header{
  width: 100%;
}

.logo{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dddddd2b;
  
}

.hamburguer{
  position:fixed;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  background: var(--c_bottom);
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 20px;
  z-index: 100;
}

.line{
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: var(--c_fondo_body);
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.line1{
  top:15px;
}

.line3{
  top:27px;
}

.active_line1{
  top:20px;
  transform: rotate(230deg);
  transition: .6s;
}

.active_line3{
  top:20px;
  transform: rotate(-230deg);
  transition: .6s;
}

.active_line2{
  transform: rotate(-230deg);
  display: none;
  visibility: hidden;
  transition: 0.5s;
}

.navbar{
  position: fixed;
  width: 180px;
  height: auto;
  background-color: var(--c_fondo_body);
  border-bottom-right-radius: 15px;
  border:1px solid var(--c_line);
  transition: 0.5s all;
  left: -183px;
  z-index: 100;
  overflow: hidden;
}


.active_list_navbar{
  left: 0px;
}

.list__button{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--c_line);
}

.list__button:hover{
  background: var(--c_icono);
}

.icono_menu{
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

.item{
  font-size: 12px;
  font-weight: bold;
}

.submenu_generacion{

  display: none;

}


.submenu{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submenu:hover{
  background: var(--c_bottom);
}


.list_item--activate .submenu_generacion{
  display: block;
}

.list_item--activate .list__button .arrow{
  transform: rotate(90deg);
}

.container{
  display: grid;
  width: 90%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  text-align: center;
  position: relative;
  overflow: auto;
  z-index: 10;
  
}


.container_card{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}


.imagen_pokemon{
  width: 120px;
  height: 100%;
}

.icono_pokemon{
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  transition: all .5s;
}

.icono_pokemon:hover{
  transform: scale(1.5);
}

.card:hover p{
  color: var(--c_fondo_body);
}

.card p{
  position: absolute;
  color: var(--c_fondo_body);
  font-weight: bold;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  z-index: -1;
  top: 0px;
  left: 20px;
  
}

@media (min-width:740px){
  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width:940px){
  .container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
}

@media (min-width:1150px){
  .container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }
}


@media (min-width:1500px){
  .container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
  }
}

.tipo{
  padding: 3px 8px ;
  border-radius: 10px;

}
.fire{
  background: #f0932b;
  
}

.normal{
  background: #95afc0;

}

.water{
  background: var(--t-water);

}

.electric{
  background: var(--t-electric);

}

.grass{
  background: var(--t-grass);

}
.ice{
  background: var(--t-ice);

}

.fighting{
  background: var(--t-fighting);

}
.poison{
  background: var(--t-poison);

}

.ground{
  background: var(--t-ground);

}

.flying{
  background: var(--t-flying);

}
.psychic{
  background: var(--t-psychic);

}

.bug{
  background: var(--t-bug);
}

.rock{
  background: var(--t-rock);
}
.ghost{
  background: var(--t-ghost);
}

.dragon{
  background: var(--t-dragon);
}

.dark{
  background: var(--t-dark);
}
.fairy{
  background: var(--t-fairy);
  
}

.container_modal{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.625);
  z-index: 998;
  
}

.container_modal_active{
  display: block;
}

.cerrar_modal{
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
}

.id_modal{
  position: absolute;
  width: 100%;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 180px;
  font-weight: bold;
  text-align: center;
  color: #84848491;
  letter-spacing: 5px;
  top: 10px;
  z-index: -1;
}

.container_img{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img_modal{
  width: 100%;
  height:100%;
  max-width: 700px;

}
.cont_img_modal{
  width: 100%;
  height: 400px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon_tipos{
  width: 100%;

  display: flex;
  justify-content: center;

}

.pokemon_tipos p{
  padding: 5px 10px;
  margin: 0 5px;
  color: var(--c_fondo_body)!important;
}